@page "/timeframe"

<h1>Time-Frame</h1>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Start Date</span>
    </div>
    <input type="date"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="startDate">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">End Date</span>
    </div>
    <input type="date"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="endDate">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Source currency code</span>
    </div>
    <input type="text"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="sourceCurrencyCode"
           placeholder="e.g., USD">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Destination currency codes</span>
    </div>
    <input type="text"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="destinationCurrencyCodes"
           placeholder="e.g., EUR,GBP,USD">
</div>

<button type="button" class="btn btn-primary" @onclick="LoadData">Load</button>

@if (hasData)
{
    <ul>
        <li>Start Date: @response.Result.StartDate</li>
        <li>End Date: @response.Result.EndDate</li>
        <li>Source Currency Code: @response.Result.SourceCurrencyCode</li>
        <li>TimeFrame: @response.Result.TimeFrame</li>
        @foreach (var item in response.Result.Items)
        {
            <li>
                <div>@item.Date</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Currency code</th>
                            <th>Exchange rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rate in item.Rates)
                        {
                            <tr>
                                <td>@rate.CurrencyCode</td>
                                <td>@rate.ExchangeRate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        }
    </ul>
}

@if (hasError)
{
    <div class="alert alert-danger" role="alert">@error</div>
}
